.container{
  max-width: 1100px;
  margin: 0 auto;
}
.columns{
  float: left;
}

.first-column{
  background-image: url(../img/bg-event.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 720px;
  position: relative;
}

.event-content{
  margin-left: 14px;
  width: 55%;
  position: absolute;
}

.next-event{
  background-color: #73C5A5;
  border: none;
  font-size: 1.125em;
  font-weight: bold;
  font-family: Georgia, serif;
  margin-top: 20px;
  padding: 10px;
}

.date{
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 10px;
}

#description{
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
}

span{
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.more-details{
  background-color: #73C5A5;
  padding: 10px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.event-details{
  color: white;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  float: right;
  padding-right: 10px;
}
