.second-column{
  width: 45%;
}

.events{
  margin: 20px 0 30px 60px;
}

.details{
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 100px;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 20px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 10px;
}

.dates{
  font-size: 28px;
  margin-bottom: 10px;
}

.event-description{
  font-size: 14px;
  margin-bottom: 10px;
}

.location{
  font-weight: bold;
}
